!!!5
%header
  %link{href: "styles.css", rel: "stylesheet"}
%body
  %div.solar-system
    %div.orbit.orbit-0
      %div.sun
        %img{:src => "sun.png", :alt => "sun"}
    %div.orbit.orbit-1
      %div.mercury
        %img{:src => "mercury.png", :alt => "mercury"}
    %div.orbit.orbit-2
      %div.venus
        %img{:src => "venus.png", :alt => "venus"}
    %div.orbit.orbit-3
      %div.earth
        %img{:src => "earth.png", :alt => "earth"}
    %div.orbit.orbit-4
      %div.mars
        %img{:src => "mars.png", :alt => "mars"}
    %div.orbit.orbit-5
      %div.jupiter
        %img{:src => "jupiter.png", :alt => "jupiter"}
    %div.orbit.orbit-6
      %div.saturn
        %img{:src => "saturn.png", :alt => "saturn"}
    %div.orbit.orbit-7
      %div.uranus
        %img{:src => "uranus.png", :alt => "uranus"}
    %div.orbit.orbit-8
      %div.neptune
        %img{:src => "neptune.png", :alt => "neptune"}

    