!!!5
%header
  %link{href: "styles.css", rel: "stylesheet"}
%body
  %div.solar-system
    - %w(sun mercury venus earth mars jupiter saturn uranus neptune).each_with_index do |planet, i|
      %div.orbit{:class => "orbit-#{i}"}
        %div{:class => "#{planet}"}
          %img{:src => "#{planet}.png", :alt => "#{planet}"}
    